# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
.venv
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/
*.swp
*.swo
*~

# LaTeX
*.aux
*.log
*.out
*.toc
*.synctex.gz
*.fls
*.fdb_latexmk

# Dados sensíveis
*.env
.env
config.ini
tokens.txt

# Java
*.class
*.jar
*.war
target/

# OS
.DS_Store
Thumbs.db
